*{
    padding: 0px;
    margin: 0px;
}

#back{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 50, 50,0.5);
}

#loader{
    border-radius: 50%;
    background-color: transparent;
    width: 7%;
    height: 7%;
}