*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#playlistbody{
    width: 73vw;
    transition: 5ms;
    height: 80%;
    position: fixed;
    overflow-y: scroll;
    right: 2vw;
    border-radius: 0.8rem;
    background-image: linear-gradient(
        180deg,
        
        transparent,
        rgba(255,0,0,0.5)
    );
    background-size: 180px;
}

#playlistbody::-webkit-scrollbar{
    display: none;
}

#playlistul{
    display: inline;
    width: 73vw;
    height: 68%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    overflow: scroll;
}

#playlistul::-webkit-scrollbar{
    display: none;
}
#playli{
    margin: 10px;
    width: 180px;
    height: 180px;
    display: inline;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 0.3rem;
}

#playli:hover{
    background-color: rgba(150,150,150, 0.3);
}

#pimage{
    margin-top: 4px;
    width: 90%;
    height: auto;
    background-size: cover;
    object-fit: cover;

}

#playlistname{
    font-size: medium;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#pnav{
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    position:sticky;

    background-image: linear-gradient(
        transparent,
        180deg,
        rgba(0,255,0,0.7)        
    );
    
}

#ph1{
    width: 73vw;
    height: 60px;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    background-color: solid;
    z-index: 300;
    position: fixed;
    /* border: 1px solid white; */
}

#error{
    color: white;
     
}

@media (max-width:600px) {
    #playlistbody{
        width: 100vw;
        right: 0vw;

    }
    #playlistul{
        width: 100%;
        justify-content: space-evenly;
    }
    #playli{
        width: 40%;
    }
    #playlistname{
        margin-top: 4px;
    }
}







